/*Copyright 2017 the eSnowboard Project
	Custom CSS for editting Bootstrap template
*/


.bg-primary {
	background-color: hsla(185, 89%, 55%, 0.51) !important;
}

.bg-light {
  background-color: hsla(185, 89%, 55%, 0.51) !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

/* 
ADDENDUM

other colors we considered: 
#60DEF0

*/